html,
body,
#app{
    height: 100%;
    margin: 0;
}
#app{
    display: flex;
    flex-direction: row; /*linha e coluna*/
    align-items: flex-end; /** se baseia na flex diretion **/
    justify-content: center;/*center flex-end space-between coloca spaço no meio space-around spaço no começo e no fim tbm*/
    flex-wrap: wrap;/*quebra linha*/
    align-content: center;
}
.box{
    width: 100px;
    height: 60px;
    margin: 5px;

}
.red{
    background: red;
    order: 1;/*Ordena as div*/
}
.blue{
    
    background: blue;
    order: 3;
}
.green{  
    background: green;
    order: 2;
}